@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,500&display=swap');

*{
	margin:0;
	padding:0;
}
.sidebar{
	background-color:red;
	width:20%;
	font-family: 'Noto Sans', sans-serif;
	height:100vh;
}
.sidebar nav{
	padding:52px;
}
.sidebar nav li{
	list-style:none;
	font-size:30px;
	padding:33px 0;
}
.main{
	background-color:yellow;
	width:80%;
}
.container{
	display:flex;
}
.infoContainer{
	background-color:aqua;
	height:78%;
	width:80%;
	margin:144px auto;
	display:flex;
}